---
---

@import 'main
  {%- if jekyll.environment == 'production' -%}
    .bundle
  {%- endif -%}
';

/* Custom styles */
#sidebar {
  .site-title {
    text-align: center;
  }
  
  .site-subtitle {
    text-align: center;
  }
  
  .avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

